.greenhouse-main{
      
}

.greenhouse-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    background-color: #BBDCA2;
    padding: 0.7rem;    
}

.greenhouse-return-button{
    width: 3rem;
    width: 3rem;
}

/* .greenhouse-return-button:hover{
    opacity: 0.3;
    background-color: #6A8347;
} */


.greenhouse-preset-button{
    width: 3rem;
    width: 3rem; 
}