.greenhouse-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(218, 230, 218);
  width: 100%;
  height: 100%;
}

.greenhouse-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  background-color: #bbdca2;
  width: 100%;
}

.greenhouse-return-button {
  width: 3rem;
  width: 3rem;
}

.greenhouse-return-button:hover {
  opacity: 0.3;
  background-color: #6a8347;
}

.greenhouse-preset-button {
  width: 3rem;
  width: 3rem;
}

.greenhouse-reset-button {
  width: 3rem;
  width: 3rem;
}

@media (min-width: 400px), (min-height: 400px) {
  .greenhouse-main {
    background-image: url("../backgrounds/tropicalbg.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
  }
}
