.slider-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  max-height: 1.8rem;
}

.info-button {
  height: 1.2rem;
}

.info-button > img {
  max-width: 100%;
  max-height: 100%;
}
