.sound-mixer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.master-slider-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.master-mute-button {
  width: 3rem;
  height: 2rem;
}

.master-mute-button > img {
  max-width: 100%;
  min-width: 100%;
}

.master-slider {
}
