.sound-mixer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.master-slider-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.master-mute-button {
  width: 3rem;
  height: 2rem;
}

.master-mute-button > img {
  max-width: 100%;
  min-width: 100%;
}

.master-slider {
  width: 37vw;
}

@media (max-width: 400px) {
  .master-slider {
    max-width: 100px;
  }
}
