body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 12px;
}

.social-media-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.social-icons {
  max-width: 1200%;
}
