@media (min-width: 600px) {
  body {
    background-image: url("./assets/tropicalbg.jpeg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
  }

  .welcome-content {
    display: flex;
    flex-direction: column;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .logo img {
    width: 520px;
    height: 110px;
    align-content: center;
    margin-left: 4%;
  }

  .button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.welcome-subtext {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 7%;
  padding-right: 7%;
  margin: 3%;
}

span {
  display: none;
}

.button {
  display: block;
  text-decoration: none;
  border-radius: 100%;
  background: #4caf50;
  width: 100px;
  height: 100px;
  color: #fff;
  text-align: center;
  font: bold 16px/100px Arial, sans-serif;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.5),
    inset 0 0 0 10px rgba(255, 255, 255, 0.3);
}

.button-img:hover {
  display: none;
}

.button:hover {
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.5),
    inset 0 0 0 100px rgba(0, 0, 0, 0.5);
}
.button:hover span {
  display: block;
}
