.welcome {
  display: block;
  background-color: rgb(218, 230, 218);
  font-family: "Archivo Narrow", "PT Sans Narrow", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 400px) {
  .welcome {
    background-image: url("../backgrounds/fernbg.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
  }
}
