@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

body {
  background-color: rgb(218, 230, 218);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
}
