#floor_map {
    margin: 0;
    padding: 0;
}

.Map {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#floor_map {
    display: flex;
    width: 60%;
    margin: 2vh;
}

@media only screen and (max-width: 700px) {
    .Map {
        transform: rotate(90deg);
        margin-top: 25vh;
    }

    #floor_map {
        width: 90%;
        margin: 0vh;
    }
}

.House {
    stroke: #306f91;
    stroke-width: 1;
    fill: ghostwhite;
    opacity: 0%;
}

.House:hover {
    opacity: 50%;
}

